html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    color: #222;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}
h1 {
    font-size: 2rem;
    line-height: 1.2;
}
h2 {
    font-size: 1.8rem;
    line-height: 1.25;
}
h3 {
    font-size: 1.6rem;
    line-height: 1.3;
}
h4 {
    font-size: 1.4rem;
    line-height: 1.35;
}
h5 {
    font-size: 1.2rem;
    line-height: 1.5;
}
h6 {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #1eaedb;
}
a:hover {
    color: #0fa0ce;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin: 10rem auto;
}

button {
    background-color: #000;
    border: none;
    border-radius: 3px;
    color: #fff;
    height: auto;
    padding: 8px 37px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 0.8rem;
}

button:hover,
button:focus {
    background-color: #fff;
    color: #000;
}

button.light {
    background-color: #fff;
    color: #000;
}

button.light:hover,
button.light:focus {
    background-color: #000;
    color: #fff;
}

.margin-bottom {
    margin-bottom: 5rem;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}
.margin-bottom-md {
    margin-bottom: 2rem;
}
.padding-small {
    padding: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
}

.section-title {
    margin-bottom: 70px;
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.navigation-bar {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navigation-bar .logo {
    max-width: 150px;
    display: inline-block;
    padding: 1rem;
}

.navigation-bar nav {
    display: inline-block;
    width: 100%;
}

.navigation-bar nav ul li {
    display: inline-block;
}

.navigation-bar nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.photo {
    width: 300px;
    border-radius: 50%;
    margin: 5% 0 2% 0;
}

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.hero h1 {
    margin: 0;
    opacity: 0.9;
}

.hero-text {
    padding: 25px;
    text-align: center;
    width: 100%;
}

.hero-text p {
    margin: auto;
    opacity: 0.7;
    padding-top: 20px;
    max-width: 80%;
}

.highlight {
    font-style: italic;
}

.date {
    font-size: 0.8rem;
}

.team .team-name {
    text-align: center;
}

.team .team-name .position {
    opacity: 0.7;
}

.team .team-icon {
    max-width: 16px;
}
.intro {
    margin: 15vh 0 10vh;
}

.education-title i,
.experience-title i {
    margin-top: 10px;
    margin-right: 10px;
}

.experience {
    margin-bottom: 40px;
}

/* Hover */

.hover-outer-box {
    position: relative;
    display: flex;
    align-content: stretch;
    align-items: stretch;
}

.hover-outer-box .hover-inner-box {
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity 0.5s;
    color: #fff;
    display: flex;
    align-items: center;
}

.hover-outer-box:hover .hover-inner-box {
    opacity: 0.9;
    transition: opacity 0.5s;
}

.hover-outer-box .hover-inner-box .hover-content {
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.hover-content p {
    margin-bottom: 10px;
}

/* Serivces */

.skills {
    margin-top: 0;
    font-weight: bold;
}

/* skills */

.skill {
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

.skContainer {
    height: 15px;
    width: 60%;
    background-color: #525252;
    position: absolute;
    left: 30%;
}

.htmlPercentage {
    height: 100%;
    width: 90%;
    background-color: #ba4800;
}
.CSSPercentage {
    height: 100%;
    width: 80%;
    background-color: #ba4800;
}
.bootsPercentage {
    height: 100%;
    width: 70%;
    background-color: #ba4800;
}
.JSPercentage {
    height: 100%;
    width: 75%;
    background-color: #ba4800;
}
.reactPercentage {
    height: 100%;
    width: 65%;
    background-color: #ba4800;
}
.angularPercentage {
    height: 100%;
    width: 40%;
    background-color: #ba4800;
}
.mysqlPercentage {
    height: 100%;
    width: 70%;
    background-color: #ba4800;
}
.pythonPercentage {
    height: 100%;
    width: 60%;
    background-color: #ba4800;
}
.djPercentage {
    height: 100%;
    width: 30%;
    background-color: #ba4800;
}
.expressPercentage {
    height: 100%;
    width: 30%;
    background-color: #ba4800;
}
.workGPercentage {
    height: 100%;
    width: 75%;
    background-color: #ba4800;
}
.adaptPercentage {
    height: 100%;
    width: 80%;
    background-color: #ba4800;
}
.managPercentage {
    height: 100%;
    width: 85%;
    background-color: #ba4800;
}

/* cta */

.cta {
    background-color: #000;
    padding: 60px 0;
    color: #fff;
}

.cta .display {
    margin-top: -100px;
}

/* blurbs */

.blurbs .icon {
    max-width: 64px;
}

.blurbs h3 {
    margin-bottom: 1rem;
}

/* newsletter */

.newsletter {
    background-color: #eee;
    padding: 60px 0;
}

.newsletter h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.newsletter form {
    align-content: center;
}

.newsletter input {
    width: 150px;
    margin-right: 1rem;
    background-color: #fff;
}

/* proyects */

.row-proyects {
    margin-bottom: 50px;
    /* box-shadow: 5px 5px 2px #000; */
}

.row-proyects img {
    /* margin-bottom: 50px; */
    box-shadow: 5px 5px 10px #000;
}

.btnGithub {
    margin-left: 10%;
}

/* contact */

.contact .col-md {
    padding: 1rem;
}

/* forms */

input,
textarea {
    background-color: #eee;
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
    -webkit-appearance: button;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

/* footer */

.logo-footer img {
    max-width: 150px;
}
.linkSocial a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

footer {
    background-color: #eee;
    padding: 5rem 0;
}

footer ul {
    padding: 0;
    margin-top: 0;
}

footer li {
    list-style: none;
}

footer li a {
    padding: 0;
    color: #000;
    text-decoration: none;
}

.links-footer{
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
}
.linkSocial {
    margin-left: auto;
    width: 150px;
}

.secondary-footer {
    background-color: #e1e0e0;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.secondary-footer p {
    margin: 0;
    font-size: 0.8rem;
}

.secondary-footer a {
    text-decoration: none;
    color: #000;
}

/* Mediaqueries */

@media (max-width: 1280px) {
    .navigation-bar .logo {
        margin: 0 auto;
    }
    /* .navigation-bar nav {
        display: none;
    } */

    .row {
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cta .display {
        margin-top: 1rem;
    }
    .intro {
        margin: 7vh 0 5vh;
    }
    .skills{
        margin-bottom: 7vh;
    } 
    .portfolio{
        margin-top: 12vh;
        margin-bottom: 12vh;
    } 
    .contact{
        margin-top: 0vh;
        margin-bottom: 15vh;
    }
    .section-title{
        margin-bottom: 2vh;
    }
    .margin-bottom{ 
        margin-bottom: 2rem;
    }
    .links-footer{
        margin-left: 10px;
    }
    .links-footer{
        display: flex;
        justify-content: space-between;
        max-width: 80vw;
        margin: auto;
    }
    .logo-footer{
        margin-left: 7vw;
    }
    .copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .form-inputs{
        width: 90vw;
    }
    .form-textarea{
        width: 90vw;
        margin-top: -30px;
    }
    .row-textarea{
        padding: 0 0.5rem;
    }
    .form-contain-inputs{
        width: 100%;
    }
}

/* animation  */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 480px) {
    .menu-nav {
        display: none;
        color: brown;
    }

    .navigation-bar .logo {
        max-width: 100px;
    }

    .skill {
        width: 100%;
    }

    .skContainer {
        height: 15px;
        width: 40%;
        left: 50%;
    }

    .experience-title {
        margin-top: 40px;
    }

    .logo-footer img {
        max-width: 100px;
    }
    .photo {
        width: 200px;
    }
    .intro {
        margin: 7vh 0 7vh;
    }
    .skills{
        margin-bottom: 7vh;
    } 
    .portfolio{
        margin-top: 12vh;
        margin-bottom: 12vh;
    } 
    .contact{
        margin-top: 0vh;
        margin-bottom: 15vh;
    }
    .section-title{
        margin-bottom: 2vh;
    }
    .margin-bottom{ 
        margin-bottom: 2rem;
    }
    .links-footer{
        margin-left: 10px;
    }

    .copyright{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
